<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="taxi.city.citytaxidriver" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:theme="@style/MainTheme"
        android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
        tools:replace="android:icon,android:theme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".OrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".ConfirmSignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".GarajActivity"
            android:label="@string/title_activity_garaj"
            android:parentActivityName=".MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyActionBarTabs"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taxi.city.citytaxidriver.MapsActivity" />
        </activity>
        <activity
            android:name=".CarDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".UserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".FinishOrderDetailsActivity"
            android:label="@string/title_activity_finish_order_details"
            android:screenOrientation="portrait"
            android:theme="@style/MyActionBarTabs"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/MyActionBarTabs"
            android:parentActivityName=".GarajActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taxi.city.citytaxidriver.GarajActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/MyActionBarTabs"
            android:parentActivityName=".GarajActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="taxi.city.citytaxidriver.GarajActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a6db6ad043b4ea239abd028eed102d3e1bb2d1d3" />
    </application>

</manifest>
